body {
    background-image: url("../img/images/b_coffee.jpg ");
}

.main {
    width: 1000px;
    height: 900px;
    margin: 0 auto
}

.home_page {
    margin-inline: 70px;
}

.about {
    margin-left: 30px;
}

.portfolio {
    margin-left: 30px;
}

.services {
    margin-left: 30px;
}

.contact {
    margin-left: 30px;
}

.logo {
    margin-left: 70px;
}

.thumb {
    margin-left: 60px;
    margin-top: 100px;
}

.aboutme {
    margin-left: 61px;
    margin-top: -282px;
}

.about_information {
    margin-left: 346px;
    margin-top: -288px;
}

.link {
    color: green;
    margin-left: 341px;
    margin-top: -11px
}

.about_text {
    margin-left: 346px;
    margin-top: 10px;
}

.education {
    margin-top: 76px;
    margin-left: 93px;
}

.experience {
    margin-top: -58px;
    margin-left: 449px;
}

.first_name {
    margin-left: 10px;
    margin-top: 10px;
}

.e1 {
    margin-left: 84px;
    margin-top: -116px;
}

.e2 {
    margin-left: 63px;
    margin-top: 21px;
}

.e3 {
    margin-left: 92px;
    margin-top: 17px;
}

.exp {
    margin-top: -175px;
    margin-left: 478px;
}

.he {
    margin-left: 473px;
    margin-top: -12px;
}

.ar {
    margin-left: 689px;
    margin-top: -18px;
}

.us {
    margin-left: 673px;
    margin-top: 26px;
}

.fl {
    margin-left: 669px;
    margin-top: 31px;
}

.we {
    margin-left: 468px;
    margin-top: -68px;
}

.gr {
    margin-left: 458px;
    margin-top: 32px;
}

.txt {
    margin-left: 674px;
    margin-top: -89px;
}

.txt1 {
    margin-left: 475px;
    margin-top: 25px;
}

.txt2 {
    margin-left: 672px;
    margin-top: 29px;
}

.txt3 {
    margin-left: 453px;
    margin-top: -13px;
}

.txt4 {
    margin-left: 450px;
    margin-top: -118px;
}

.txt5 {
    margin-left: 654px;
    margin-top: 31px;
}

.bourder {
    border: 1px dashed;
}

.bcont {
    margin-left: 20px;
    margin-top: -19px;
}

.information {
    margin-left: 21px;
}

.follow {
    margin-left: 450px;
    margin-top: -26px;
}

.icon1 {
    margin-left: 873px;
    margin-top: -75px;
}

.icon2 {
    margin-left: 918px;
    margin-top: -57px;
}

.icon3 {
    margin-left: 968px;
    margin-top: -56px;
}

































